/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    height: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

a.navbar-brand {
    padding: 5px 0px 5px 0px;
}

#logo {
    width: 180px;
    margin: auto;
}

    #logo img {
        width: 180px;
        height: 75px;
    }

.navbar {
    margin-bottom: 0px;
    min-height: 90px;
    border-radius: 0px;
    border-color: #000000;
}

.navbar-default {
    background-color: #222222;
    border-color: #000000;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    z-index: 99;
}

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        background-color: #222222;
        text-decoration: underline;
    }



#bannerWrap * {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
/*Rotator*/
.rotator-text-line {
    position: absolute;
}

.rotator-text-line-responsive {
    font: bold 32px Verdana, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased !important;
    -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizelegibility;
    line-height: 38px;
    color: #ffffff;
}

.container.marketing {
    margin-top: 70px;
}

#bd1 {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 62px;
    line-height: 70px;
}

#bd3, #bd4, #bd5 {
    font-family: 'Arial Black', Gadget, sans-serif;
    color: #68ff00;
    font-size: 24px;
    line-height: 32px;
}

#fullstack1, #fullstack2 {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 42px;
    line-height: 50px;
}

#fullstack2, #lob1 {
    -webkit-text-shadow: 1px 1px 1px #192e16;
    text-shadow: 1px 1px 1px #192e16;
    color: #192e16;
}

.page-title h1{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
}
.overview {
    margin-bottom: 20px;
}
#proc1 {
    color: #192e16;
}

#proc3 {
    -webkit-text-shadow: 1px 1px 1px #192e16;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgb(25, 46, 22);
}

proc2 {
    -webkit-font-smoothing: antialiased !important;
    color: #333333;
}

#win81 {
    font-size: 42px;
    line-height: 50px;
}

#win82 {
    font-family: 'Candal', Verdana, Helvetica, sans-serif;
}

#win83, #win84 {
    font-size: 24px;
    line-height: 30px;
    -webkit-font-smoothing: antialiased !important;
    color: #242323;
}

#lob2 {
    color: rgba(0, 0, 0, 0.75);
    -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}

#fin1, #fin2, #fin4 {
    color: rgb(128, 128, 128);
    -webkit-text-shadow: 1px 1px 1px rgb(128, 128, 128);
    text-shadow: 1px 1px 1px rgb(128, 128, 128);
}


#fin3 {
    color: #439c06;
    font-style: italic;
}
/* End Rotator */
/*Home*/
#contactOptions {
    margin-top: 30px;
}

    #serviceOptions .img-circle, #contactOptions .img-circle {
        width: 200px;
        height: 200px;
    }
/*End Home*/
/*Contact*/
#cont1, #cont2 {
    color: #333333;
}

#cont1 {
    font-size: 52px;
    line-height: 60px;
}

#cont2 {
    font-size: 24px;
    line-height: 32px;
    width: 50%;
}
/*Technologies*/
#technologiesWrap .full-height {
    height: 100%;
    padding-bottom: 9000px;
    margin-bottom: -9000px;
}

#technologiesWrap #col1 {
    width: 60%;
    float: left;
}

#technologiesWrap #col2 {
    width: 40%;
    float: left;
    background: #000000;
}
#technologiesWrap .row{
    margin: 0px;
    padding: 0px;
}
#technologiesWrap .section {
    display: none;
}
#technologiesWrap .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#technologiesWrap .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
#technologiesWrap #technologiesNav {
    margin-top: 20px;
}
#technologiesWrap #technologiesNav .list-group-item {
    background: url('/Content/images/opaque.png') repeat;
}
#technologiesWrap #technologiesNav a.list-group-item.active {
    border-color: #ffffff;
}

@media (max-width:768px) {
    #logo {
        width: 72px;
        height: 30px;
    }

        #logo img {
            width: 72px;
            height: 30px;
            position: absolute;
            top: 10px;
        }

    .navbar {
        margin-bottom: 0px;
        min-height: 30px;
        border-radius: 0px;
    }

    .navbar-default {
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
        z-index: 99;
    }

    .navbar .container-fluid, .navbar-header {
        height: 30px;
    }

    .navbar-brand {
        height: 0px;
    }

    #serviceOptions, #contactOptions {
        margin-top: 30px;
    }

        #serviceOptions .img-circle, #contactOptions .img-circle {
            width: 120px;
            height: 120px;
        }

    ul.nav.navbar-nav {
        background: #222222;
    }

    .navbar-default .navbar-nav > .active > a {
        background: #333333;
    }

    #technologiesWrap .full-height {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    #technologiesWrap #col1 {
        width: 100%;
        float: none;
    }

    #technologiesWrap #col2 {
        width: 100%;
        float: none;
    }

    #social area {
        outline: none;
        outline-width: 0;
    }

    .col {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
        background-color: #ffc;
    }

    .col-wrap {
        overflow: hidden;
    }
       .page-title h1{
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 50px;
        font-weight: normal;
        font-family: 'Oswald', sans-serif;
    }
}
