.navbar {
    margin-bottom: 0px;
    min-height: 90px;
    border-radius: 0px;
}

.navbar-default {
    background-color: #475F43;
    border-color: #0F1D0D;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    z-index: 99;
}


#logoWrap {
    padding: 5px 0px 3px 0px;
}

#bannerWrap * {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
/*Rotator*/
.rotator-text-line {
    position: absolute;
}

.rotator-text-line-responsive {
    font: bold 32px Verdana, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased !important;
    -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizelegibility;
    line-height: 38px;
    color: #ffffff;
}

#bd1 {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 62px;
    line-height: 70px;
}

#bd3, #bd4, #bd5 {
    font-family: 'Arial Black', Gadget, sans-serif;
    color: #68ff00;
    font-size: 24px;
    line-height: 32px;
}

#fullstack1, #fullstack2 {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 42px;
    line-height: 50px;
}

#fullstack2, #lob1 {
    -webkit-text-shadow: 1px 1px 1px #192e16;
    text-shadow: 1px 1px 1px #192e16;
    color: #192e16;
}
#proc1 {
        color: #192e16;
    }

#proc3 {
        -webkit-text-shadow: 1px 1px 1px #192e16;
        -webkit-font-smoothing: antialiased !important;
        text-shadow: 1px 1px 1px rgb(25, 46, 22);
    }

proc2 {
        -webkit-font-smoothing: antialiased !important;
        color: #333333;
    }
#win81 {
    font-size: 42px;
    line-height: 50px;
}

#win82 {
    font-family: 'Candal', Verdana, Helvetica, sans-serif;
}

#win83, #win84 {
    font-size: 24px;
    line-height: 30px;
    -webkit-font-smoothing: antialiased !important;
    color: #242323;
}

#lob2 {
    color: rgba(0, 0, 0, 0.75);
    -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}

#fin1, #fin2, #fin4 {
    color: rgb(128, 128, 128);
    -webkit-text-shadow: 1px 1px 1px rgb(128, 128, 128);
    text-shadow: 1px 1px 1px rgb(128, 128, 128);
}


#fin3 {

    color: #439c06;
    font-style: italic;
}
/* End Rotator */
@media (max-width:768px) {
    #logoWrap img{ width: 80%;height: 80%;}
    .navbar {
        margin-bottom: 0px;
        min-height: 40px;
        border-radius: 0px;
    }

}



